/**
 * Nice Calendar
 *
 * A minimal calendar builder.
 *
 *
 * Contributors:
 *
 * reddit.com/u/krikienoid
 *
 * MIT License 2014
 */

/* //// Common //// */

* {
	margin   : 0;
	padding  : 0;
	overflow : hidden;
	box-sizing         : border-box;
	-moz-box-sizing    : border-box;
	-webkit-box-sizing : border-box;
}

/* //// Screen Mode //// */

@media screen {

	/* //// Basic Structure //// */

	/* Main */

	html,
	body,
	.wrapper-main {
		width  : 100%;
		height : 100%;
	}

	.wrapper-head,
	.wrapper-body,
	.wrapper-view,
	.wrapper-head-title,
	.wrapper-head-block {
		float : left;
	}

	.wrapper-body,
	.wrapper-view {
		width  : 100%;
		height : 100%;
	}

	/* Head */

	.wrapper-head {
		position         : absolute;
		z-index          : 1;
		background-color : dimgray;
		color            : white;
		box-shadow       : 4px 4px 16px rgba(0, 0, 0, 0.8);
	}

	.wrapper-head-title,
	.wrapper-head-options {
		width   : 100%;
		padding : 8px 16px;
	}

	.wrapper-head-options {
		height     : 100%;
		overflow-y : auto;
	}

	/* Body */

	.wrapper-view {
		overflow         : auto;
		background-color : gainsboro;
	}

	/* Default layout */

	.wrapper-main {
		padding-top  : 0;
		padding-left : 280px;
	}

	.wrapper-head {
		width       : 280px;
		height      : 100%;
		margin-top  : 0;
		margin-left : -280px;
		padding-top : 100px;
	}

	.wrapper-head-title {
		height     : 100px;
		margin-top : -100px;
	}

	/* //// Styles //// */

	/* Typography */

	h1, h2, h3, h4, h5, h6,
	.nice-calendar-input[type="button"] {
		font-family : Georgia, serif
	}

	div, p, table,
	.nice-calendar-opts-section,
	.nice-calendar-input {
		font-family : Verdana, Geneva, sans-serif
	}

	.nice-calendar-opts-section,
	.nice-calendar-input.opts {
		font-size : 10pt;
	}

	.nice-calendar-input,
	.nice-calendar-opts-header {
		font-size : 12pt ;
	}

	.nice-calendar-input[type="button"] {
		font-size : 14pt;
	}

	h1 {
		font-size : 24pt;
	}

	/* Header Section */

	.wrapper-head-title {
		background-color : black;
		border-bottom    : 2px solid white;
	}

	.nice-calendar-header,
	.nice-calendar-year {
		margin : 8px 0;
	}

	.nice-calendar-header {
		border              : 0 dotted white;
		border-bottom-width : 1px;
		color               : white;
	}

	.nice-calendar-input.show-opts {
		display : none;
	}

	/* Input Section */

	.nice-calendar-opts-section {
		float  : left
		width  : 100%;
		margin : 16px 0;
	}

	.nice-calendar-opts-group {
		height            : 0;
		padding           : 0;
		border            : 0 solid gainsboro;
		border-left-width : 1px;
		border-top-width  : 1px;
		color             : white;
		line-height       : 18pt;
	}

	.nice-calendar-opts-header {
		padding : 4px 8px;
		color   : gainsboro;
	}

	.nice-calendar-opts-header > a {
		cursor  : pointer;
	}

	.nice-calendar-opts-header > a:hover,
	.nice-calendar-opts-section.focus > .nice-calendar-opts-header > a:hover {
		color   : lightcoral;
	}

	.nice-calendar-opts-section.focus > .nice-calendar-opts-header {
		color   : white;
	}

	.nice-calendar-opts-section.focus > .nice-calendar-opts-group {
		height       : auto;
		padding      : 4px 16px;
		border-color : white;
	}

	/* Inputs */

	select,
	.nice-calendar-input {
		height           : 24px;
		margin           : 2px;
		padding          : 0 8px;
		background-color : #333;
		border           : 1px solid white;
		border-radius    : 4px;
		color            : white;
	}

	select,
	.nice-calendar-input.opts {
		height    : 20px;
	}

	.nice-calendar-input[type="button"] {
		background-color : gainsboro;
		border-color     : gainsboro;
		color            : black;
		cursor           : pointer;
		vertical-align   : top;
	}

	.nice-calendar-input[type="button"]:hover {
		background-color : white;
		border-color     : white;
	}

	.nice-calendar-input[type="button"]:active {
		color        : crimson;
		border-color : crimson;
	}

	.nice-calendar-input[type="text"]:focus {
		border-color : crimson;
	}

	.nice-calendar-input[type="checkbox"] {
		height    : 16px;
		width     : 16px;
	}

	.nice-calendar-input.opts[type="text"] {
		width     : 80px;
		max-width : 50%;
	}

	/* Override spectrum.js styles */

	.nice-calendar-opts-section .sp-replacer {
		height  : 20px;
		padding : 2px;
	}

	.nice-calendar-opts-section .sp-preview {
		height : 100%;
	}

}

@media screen and (max-width : 640px) {

	/* Tall layout */

	.wrapper-main {
		padding-top  : 120px;
		padding-left : 0;
	}

	.wrapper-head {
		width       : 100%;
		height      : 60px;
		margin-top  : -120px;
		margin-left : 0;
		padding-top : 60px;
	}

	.wrapper-head.open {
		height      : 100%;
	}

	.wrapper-head-title {
		height     : 60px;
		margin-top : -60px;
	}

	/* Style */

	.nice-calendar-header,
	.nice-calendar-year {
		display     : block;
		float       : left;
		height      : 100%;
		white-space : nowrap;
	}

	.nice-calendar-header {
		padding-right      : 16px;
		border-width       : 0;
		border-right-width : 1px;
		font-size          : 16pt;
	}

	.nice-calendar-year {
		position     : absolute;
		right        : 16px;
		padding-left : 24px;
	}

	.nice-calendar-input.show-opts {
		display : inline-block;
	}

}

@media screen and (max-width : 440px) {

	/* Narrow Layout */

	.nice-calendar-header {
		width       : 80px;
		font-size   : 10pt;
		white-space : normal;
	}

	.nice-calendar-year {
		width       : auto;
		font-size   : 14pt;
	}

}

/* //// Print Mode //// */

@page {
	size   : auto;
	margin : 0 0 0 0;
}

@media print {

	/* Main */

	html,
	body,
	.wrapper-main,
	.wrapper-body,
	.wrapper-view {
		float      : none;
		width      : auto;
		height     : auto;
		padding    : 0;
		overflow   : visible;
		background : none;
	}

	.wrapper-head {
		display : none;
	}

	.nice-calendar-pageframe {
		float  : none;
		width  : 100%;
		margin : 0;
		page-break-before : always;
		page-break-inside : avoid;
		/*page-break-after  : always;*/
		/*
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
		*/
	}

}

/* //// Neat Calendar View //// */

@media screen {

	.nice-calendar-pageframe {
		display  : block;
		float    : none;
		position : relative;
		top               : 50%;
		-moz-transform    : translateY(-50%);
		-webkit-transform : translateY(-50%);
		-o-transform      : translateY(-50%);
		-ms-transform     : translateY(-50%);
		transform         : translateY(-50%);
		margin            : 0 auto 25% auto;
		box-shadow        : 4px 4px 16px rgba(0, 0, 0, 0.8);
	}

}

.nice-calendar-pageframe {
	overflow         : hidden;
	background-color : white;
}

.nice-calendar-innerframe,
.nice-calendar-innerdayframe {
	float    : none;
	position : relative;
	margin   : auto;
	top               : 50%;
	-moz-transform    : translateY(-50%);
	-webkit-transform : translateY(-50%);
	-o-transform      : translateY(-50%);
	-ms-transform     : translateY(-50%);
	transform         : translateY(-50%);
}

/* Neat Calendar Appearance */

.nice-calendar-outerframe,
.nice-calendar-headerframe,
.nice-calendar-innerframe,
.nice-calendar-weekframe,
.nice-calendar-gridframe {
	width : 100%;
}

.nice-calendar-outerframe {
	height : 100%;
}

.nice-calendar-headerframe {
	position : relative;
	z-index  : 1;
	overflow : visible;
}

.nice-calendar-headermonth,
.nice-calendar-headeryear {
	position : absolute;
}

.nice-calendar-weekdayframe,
.nice-calendar-dayframe {
	display : block;
	float   : left;
	width   : 14.2857%;
}

.nice-calendar-weekdayframe {
	height  : 100%;
}

.nice-calendar-dayframe {
	height  : 16.6667%;
}

.nice-calendar-dayframe.blank {
	visibility : hidden;
}

.nice-calendar-innerdayframe {
	position : relative;
	width    : 100%;
	height   : 100%;
}

.nice-calendar-date {
	position : absolute;
}
